{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "globals":{
        "window":true,
         //указание глобальных переменных, что бы линтер не ругался
         "console":true,
         "document":true,
         "require":true,
         "CleanWebpackPlugin":true,
         "__dirname":true,
         "module":true,
    },
    "rules": {
        "no-console": "off" // разрешает обращаться к консоли
    }
}